* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;

  .parent {
    height: 500px;
    width: 400px;
    color: white;
    position: relative;
    z-index: 1;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    transition: all linear 0.1s;
    .round {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      scale: 1.6;
      animation: animate 3s linear infinite;
      animation-play-state: paused;
      transition: all linear 0.1s;
    }

    .child {
      height: 100%;
      width: 100%;
      background-color: black;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      img {
        height: 80%;
        width: 80%;
        object-fit: cover;
        margin-bottom: 25px;
      }
    }
  }
  .parent:hover {
    padding: 5px;
    box-shadow: 0 0 35px rgb(255, 8, 136);
    color: rgb(255, 8, 136);
    transition: all linear 0.1s;
  }

  .parent:hover .round {
    animation-play-state: running;
    background: linear-gradient(
      black,
      black,
      rgb(255, 8, 136),
      rgb(255, 8, 136)
    );
  }

  @keyframes animate {
    from {
      rotate: 0deg;
    }
    to {
      rotate: 360deg;
    }
  }
}
