*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
  
    button{
        padding: 15px 30px;
        border: none;
        background-color: cyan;
        color: black;
        border-radius: 5px;
        z-index: 999;
        font-weight: 600;
        font-size: 20px;
        cursor: pointer;
    }
    button:active{
        scale: 0.95;
    }

}