* {
margin: 0;
padding: 0;
box-sizing: border-box;
color: white;
font-family: sans-serif;
}
html,
body {
height: 100%;
width: 100%,
}
main {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
}
button {
  padding: 1.2rem 3.5rem;
  border-radius: 0.8rem;
  background-color: rgb(225, 9, 113);
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
  margin-left: 10px;
}
button:active {
  scale: 0.95;
}
