@font-face {
  font-family: hero;
  src: url(./inter.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
  background-color: #001d21;
}
header nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #001d21a7;
  opacity: 0.8;
  padding: 20px 37px;
  position: fixed;
  z-index: 5;
}
header nav .nav2 {
  display: flex;
  align-items: center;
  gap: 35px;
  color: white;
}
header nav .nav2 h4 {
  font-weight: 300;
}
header nav img {
  width: 100px;
  /* object-fit: cover; */
}
header nav button {
  padding: 15px 25px;
  color: black;
  border-radius: 10px;
  font-size: 15px;
  border: none;
}
.first {
  height: fit-content;
  width: 100%;
  background-color: #001d21;
  padding-top: 7%;
}
.first .headline {
  text-align: center;
  color: white;
}
.first .headline h1 {
  font-size: 55px;
  margin: auto;
  width: 700px;
  font-family: hero;
  font-weight: 400;
  margin-bottom: 10px;
}
.first .headline p {
  margin: auto;
  width: 410px;
  color: #b3c6c8;
  margin-bottom: 30px;
}
.first .herophoto {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  /* background-color: red; */

  /* margin-bottom: 20px; */
}
.first .herophoto img {
  width: 320px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.second {
  /* height: 100%; */
  width: 100%;
  background-color: #f9f9f7;
  padding: 36px 60px;
}
.second .text {
  display: flex;
  justify-content: space-between;
}
.second .text .all .long {
  /* margin-left: 300px; */
  font-size: 30px;
  width: 780px;
}
.second .text .all .record {
  margin-top: 60px;
  margin-bottom: 100px;
  display: flex;
  gap: 70px;
}
.second .text .all .record .box-1 {
  padding-left: 5px;
  border-left: 2px solid rgb(52, 51, 51);
}
.second .text .all .record .box-2 {
  padding-left: 5px;
  border-left: 2px solid rgb(52, 51, 51);
}
.second .text .all .record .box-3 {
  padding-left: 5px;
  border-left: 2px solid rgb(52, 51, 51);
}
.second .text .all .record .box-4 {
  padding-left: 5px;
  border-left: 2px solid rgb(52, 51, 51);
}
.second .text .all .record h5 {
  font-size: 30px;
  font-weight: 500;
}

.second .text .all .logo {
  display: flex;
  gap: 100px;
  margin-bottom: 40px;
}

.third {
  width: 100%;
  background-color: #ffff;
  padding: 25px;
}
.third p {
  font-size: 18px;
  margin-bottom: 10px;
}
.third h2 {
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 48px;
  font-weight: 500;
}
.third .member {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50px;
}
.third .member .person {
  height: 370px;
  width: 370px;
  padding: 30px;
  position: relative;
  border-radius: 17px;

  background-size: cover;
}
.person .info {
  position: absolute;
  bottom: 20px;
  color: white;
  font-weight: 400;
}
.p1 {
  background-image: url(https://cdn.prod.website-files.com/67d862cdd02d4b66561d21e6/67d862cdd02d4b66561d2353_Frame%202147227060.webp);
}

.p2 {
  background-image: url(https://cdn.prod.website-files.com/67d862cdd02d4b66561d21e6/67d862cdd02d4b66561d2364_Frame%202147227010.webp);
}
.p3 {
  background-image: url(https://cdn.prod.website-files.com/67d862cdd02d4b66561d21e6/67d862cdd02d4b66561d2365_Frame%202147227009.webp);
}
.p4 {
  background-image: url(https://cdn.prod.website-files.com/67d862cdd02d4b66561d21e6/67d862cdd02d4b66561d2366_Frame%202147227061.webp);
}
.p5 {
  background-image: url(https://cdn.prod.website-files.com/67d862cdd02d4b66561d21e6/67d862cdd02d4b66561d2367_Frame%202147227013.webp);
}
.p6 {
  background-image: url(https://cdn.prod.website-files.com/67d862cdd02d4b66561d21e6/67d862cdd02d4b66561d2363_Frame%202147227014.webp);
}
.fourth {
  /* height: 100%; */
  width: 100%;
  padding: 40px;
  background: #001d21;
}
.fourth p {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}
.fourth h2 {
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 78px;
  font-weight: 500;
  color: white;
}
.fourth h4 {
  margin-bottom: 20px;
  margin-left: 20px;
  font-family: hero;
  font-weight: 400;
  color: #b3c6c8;
  margin-bottom: 70px;
}
.fourth .sal {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.fourth h1 {
  font-size: 60px;
  font-weight: 500;
  color: #8a8a8b;
}
.fourth h1:nth-child(1) {
  color: #c3c7ec;
}
.fourth h5 {
  color: #b3c6c8;
  font-size: 18px;
  font-weight: 500;
  width: 500px;
  line-height: 1;
  margin-bottom: 50px;
}
.fourth .side {
  margin-left: 40px;
  display: flex;
  gap: 10px;
  color: white;
  margin-bottom: 50px;
}
.fourth .side i {
  font-size: 30px;
  padding: 10px;
  background-color: rgba(206, 199, 199, 0.508);

  border-radius: 50%;
}

.fifth {
  height: fit-content;
  width: 100%;
  background-color: #f9f9f7;
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}
.fifth img {
  width: 300px;
  border-radius: 30px;
  background-size: cover;
  margin-bottom: 40px;
}
.fifth h3 {
  font-size: 35px;
  width: 800px;
  font-weight: 500;
  margin-bottom: 40px;
}
.fifth h4 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 10px;
}
.fifth .ceo {
  color: #6d6d6d;
  margin-bottom: 40px;
}
.fifth .side {
  margin-bottom: 40px;
}
.fifth .side i {
  font-size: 20px;
  padding: 7px;
  background-color: transparent;
  border: 2px solid black;
  margin-right: 7px;
  border-radius: 50%;
}
.sixth {
  height: fit-content;
  width: 100%;
  background-color: #001d21;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sixth .top {
  width: 80%;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 70px;
  border-bottom: 2px solid #6d6d6d;
  
}
.sixth .top h2 {
  font-size: 50px;
  color: #cdcbff;
  font-weight: 500;
}
.sixth .top button {
  padding: 15px 25px;
  background-color: #fff;
  border-radius: 12px;
  border: none;
  font-weight: 600;
}
.sixth .select {
  /* background-color: #fff; */
  height: 400px;
  width: 100%;
  display: flex;
  margin-top: 50px;
  border-bottom: 1px solid #6d6d6d;
  /* padding: 20px; */
}
.sixth .select .left {
  width: 50%;
  height: 100%;
  background-color: #001d21;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-direction: column;
}
.sixth .select .left p {
  width: 400px;
  color: #a5b5bc;
  margin-top: 60px;
}
.sixth .select .left .social {
  margin-bottom: 50px;
}
.sixth .select .left .social i {
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
  color: white;
  background-color: rgba(255, 255, 255, 0.097);
  margin-right: 8px;
}

.sixth .select .right {
  width: 50%;
  height: 100%;
  background-color: #001d21;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sixth .select .right p {
  font-size: 20px;
  margin-bottom: 32px;
  color: rgba(255, 255, 255, 0.405);
  text-transform: capitalize;
}
.terms{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  color: rgba(255, 255, 255, 0.405);
    padding: 20px;
  border-bottom: 1px solid #6d6d6d;
    
}