* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,
body {
height: 100%;
width: 100%,
}
main {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
}
input{
    padding: 10px 35px;
}
.box{
    height: 300px;
    width: 350px;
    background-color: black;
    border: 2px solid white;
    padding: 25px;
    font-size: 20px;
    color: white;
    border-radius: 1.3rem;

}