* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
html {
  font-size: clamp(14px, 1.5vw, 18px);
}

@mixin flex-center($direction, $gap) {
  display: flex;
  align-items: $direction;
  flex-direction: column;
  gap: $gap;
}

.hero {
  max-width: 1900px;
}
.about {
  max-width: 1900px;
}
.second {
  max-width: 1900px;
}
.third {
  max-width: 1900px;
}
.fourth {
  max-width: 1900px;
}
main {
  width: 100%;
  background-color: whitesmoke;
  @include flex-center(center, 0rem);
  padding-top: 5rem;
  padding-inline: 0.8rem;

  nav {
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 1.4rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    h2 {
      font-size: 1.5rem;
      font-weight: 600;
    }
    .mid {
      display: none;
      gap: 2.5rem;
      button {
        background-color: transparent;
        padding: 0.5rem 1rem;
        color: black;
        border-radius: 0.8rem;
        font-size: 1.1rem;
      }
      button:hover {
        border: 1px solid black;
      }
    }
    button {
      display: none;
      background-color: black;
      padding: 0.8rem 2rem;
      border: none;
      color: white;
      border-radius: 1.5rem;
      font-size: 1.1rem;
    }
    i {
      font-size: 1.5rem;
    }
  }

  .hero {
    height: 70%;
    width: 100%;
    background-image: url(https://i.pinimg.com/736x/3d/78/f4/3d78f4a6a8acee6569ed9d87eee3e974.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    padding: 1rem;
    color: white;
    @include flex-center(center, 0.6rem);

    h1 {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 400;
    }
    p {
      opacity: 0.8;
      font-size: 0.8rem;
      text-align: center;
    }
    button {
      width: fit-content;
      background-color: black;
      padding: 0.5rem 0.8rem;
      border: none;
      color: white;
      border-radius: 1rem;
      margin-bottom: 23rem;
    }
    button:hover {
      background-color: transparent;
      border: 1px solid black;
      color: black;
    }
  }
  .about {
    @include flex-center(normal, 1rem);
    padding: 1rem;
    margin-top: 1rem;
    button {
      padding: 0.5rem 0.5rem;
      border: none;
      border-radius: 0.5rem;
      width: fit-content;
      height: fit-content;
    }
    p {
      opacity: 0.8;
      font-size: 1rem;
    }
  }
  .second {
    width: 100%;
    @include flex-center(center, 1rem);
    padding: 1rem;
    .card1 {
      background-color: #0d1a2d;
      color: whitesmoke;
      padding: 1.5rem;
      width: 85%;
      border-radius: 1rem;
      @include flex-center(center, 1rem);
      p {
        text-align: center;
      }

      button {
        background-color: whitesmoke;
        color: black;
        width: fit-content;
        padding: 0.3rem 2.5rem;
        border: none;
        font-size: 1.1rem;
        font-weight: 600;
        border-radius: 1rem;
      }
    }
    .card2 {
      width: 85%;
      height: 200px;
      overflow: hidden;
      border-radius: 1rem;

      img {
        width: 100%;
      }
    }
    .card3 {
      width: 85%;
      height: 200px;
      overflow: hidden;
      border-radius: 1rem;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .third {
    width: 100%;
    padding: 0.5rem;
    h2 {
      font-weight: 500;
      text-align: center;
      margin-bottom: 1.2rem;
    }
    .numbers {
      display: flex;
      flex-direction: column;
    }
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      margin-bottom: 0.7rem;
      h3 {
        font-weight: 600;
      }
      p {
        opacity: 0.5;
      }
    }
    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      h3 {
        font-weight: 600;
      }
      p {
        opacity: 0.5;
      }
    }
  }
  .fourth {
    width: 100%;
    @include flex-center(center, 1rem);
    margin-top: 1.5rem;
    .top {
      width: 85%;
      @include flex-center(center, 0rem);
      padding: 0.89rem;
      button {
        padding: 0.4rem;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
      }
      .explore {
        width: 100%;
        @include flex-center(center, 1rem);
        p {
          width: 80%;
          font-size: 1.3rem;
          text-align: center;
        }
        button {
          width: fit-content;
          padding: 0.4rem 1.5rem;
          background-color: black;
          color: white;
          border-radius: 1rem;
        }
      }
    }
    .mid {
      width: 85%;
      overflow: hidden;
      border-radius: 1rem;
      img {
        width: 100%;
        transition: all 0.3s linear;
        cursor: pointer;
      }
      img:hover {
        transform: scale(1.08);
      }
    }
    .bottom {
      width: 85%;
      padding: 0.5rem;
      img {
        width: 100%;
        border-radius: 1rem;
        cursor: pointer;
      }
      p {
        margin-bottom: 1rem;
        width: 70%;
      }
      .arrow {
        display: flex;
        gap: 1.2rem;
        i {
          padding: 0.8rem;
          background-color: white;
          color: black;
          border-radius: 50%;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  main {
    padding-inline: 1.5rem;
    padding-top: 6rem;

    nav {
      .mid {
        display: flex;
      }
      button {
        display: block;
      }
      i {
        display: none;
      }
    }
    .hero {
      width: 100%;
      // background-position: top;
      h1 {
        font-size: 2.6rem;
        width: 43%;
        line-height: 1.1;
      }
      p {
        font-size: 1.2rem;
        width: 50%;
      }
    }
    .about {
      flex-direction: row;
      justify-content: space-between;
      button:hover {
        border: 1px solid black;
      }
      p {
        font-size: 1.5rem;
        width: 50%;
      }
    }
    .second {
      flex-direction: row;
      justify-content: space-between;
      .card1 {
        height: 400px;
        padding: 2rem;
        font-size: 1.8rem;
        align-items: flex-start;
        justify-content: space-between;
        p {
          text-align: left;
        }
        button {
          padding: 0.5rem 3rem;
        }
      }
      .card2 {
        height: 400px;
      }
      .card3 {
        height: 400px;
      }
    }
    .third {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      // background-color: pink;
      h2 {
        font-size: 3rem;
        font-weight: 400;
        // margin-top: 1.5rem;
        margin-bottom: 1.8rem;
      }
      .numbers {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10rem;

        .top {
          gap: 9.5rem;
          h3 {
            font-size: 3rem;
            font-weight: 500;
          }
          p {
            opacity: 0.7;
            font-size: 1.8rem;
          }
        }
        .bottom {
          gap: 9.5rem;

          h3 {
            font-size: 3rem;
            font-weight: 500;
          }
          p {
            opacity: 0.7;
            font-size: 1.8rem;
          }
        }
      }
    }
    .fourth {
      margin-top: 1.5rem;
      margin-bottom: 2rem;
      flex-direction: row;
      align-items: flex-start;
      padding: 1rem;
      .top {
        height: 400px;
        align-items: flex-start;
        justify-content: space-between;
        button {
          padding: 0.6rem 1.8rem;
          border-radius: 1rem;
          border: 1px solid gray;
        }
        .explore {
          align-items: flex-start;
          gap: 2.5rem;
          p {
            text-align: left;
            width: 70%;
            font-size: 1.7rem;
          }
          button {
            width: fit-content;
            padding: 0.8rem 1.8rem;
            background-color: black;
            color: white;
            border-radius: 1rem;
          }
        }
      }
      .mid {
        background-color: red;
        height: 400px;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .bottom {
        p {
          font-size: 1.5rem;
        }
      }
    }
  }
}
