* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
main {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
//   overflow: auto;

  button {
    padding: 10px 30px;
    background-color: cyan;
    border-radius: 8px;
    border: none;
    color: rgb(59, 49, 49);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 15px;
    z-index: 999;
  }
  button:active {
    scale: 0.95;
  }
  img {
    height: 300px;
    border-radius: 10px;
  }
}
