*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #fff;

.box{
    height: 200px;
    width: 300px;
    background-color: blanchedalmond;
    border-radius: 10px;
}

}